body{
font-family: 'Audiowide', sans-serif;
font-weight: 400;
font-style: normal;
color: white;
font-size: 2rem;
background-color: rgba(0, 0, 0, 0.3);
background-blend-mode: darken;
background-image: url('./Assets/Images/Hero/hugecrowdandlights.jpg');

}
form{
    margin-left: 700px;
}
h1{
    text-align: center;
    margin-top: 200px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
}